.video_img{
	width:100%;
    border:solid 1px #eee;
    box-shadow: 0px 0px 1px 1px #ccc;
}

.mfp-title {
  position:absolute;
  color: #FFF;
  background: red;
}

.video_para{
	color:#000;
	font-weight: bold;
	margin-top: 0px;
    font-size:15px;
}

.carousel_para{
	margin-top: 35px;
	font-size: 15px;
	color:#fff;
    margin-bottom: 0px;
}


#cover{
    position:fixed;
    top:0;
    left:0;
    background:#0e0e0e;
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

#videoScreen
{
    height:256px;
    width:100%;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    margin-top: 25%;
     opacity:.8 !important;
}


#videoScreen:target, #videoScreen:target + #cover{
    display:block;
    opacity:.8;
}

.cancel{
display: block;
    position: absolute;
    top: -79px;
    right: -9px;
    height: 30px;
    width: 35px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    /*font-weight: bold;*/
    color: white;
}
.slide_section{
    height: 158px;
    width: 100%;
    /*margin-left: -20px;*/
}

.carousel-item{

        z-index: 0;
    opacity: 1;
    display: block;
    transform: translateX(0px) translateX(0px) translateX(-10px) translateZ(-25px);
}

.carousel.initialized{

    height: 150px !important;
}

video.responsive-video{
    width:100% !important;
    height:auto;
    transform: scaleY(0.8);
}

.carousel .carousel-item>img{


    width: 90% !important;
    height:50%;
    transform: scaleX(1.1) !important;
}

.video_row{
    margin-left: -1.3rem !important;
    margin-right: -1.3rem !important;
}